<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alipapa.smp.consumer.mapper.ConsumerFollowRecordMapper">
    <resultMap id="BaseResultMap" type="com.alipapa.smp.consumer.pojo.ConsumerFollowRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="consumer_id" jdbcType="BIGINT" property="consumerId"/>
        <result column="consumer_no" jdbcType="VARCHAR" property="consumerNo"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_no" jdbcType="VARCHAR" property="userNo"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="follow_time" jdbcType="VARCHAR" property="followTime"/>
        <result column="next_follow_time" jdbcType="VARCHAR" property="nextFollowTime"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, consumer_id, consumer_no, user_id, user_no, content, follow_time, next_follow_time, 
    created_time, updated_time, user_name
  </sql>
    <select id="selectByExample" parameterType="com.alipapa.smp.consumer.pojo.ConsumerFollowRecordExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from consumer_follow_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from consumer_follow_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from consumer_follow_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.alipapa.smp.consumer.pojo.ConsumerFollowRecordExample">
        delete from consumer_follow_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.alipapa.smp.consumer.pojo.ConsumerFollowRecord">
    insert into consumer_follow_record (id, consumer_id, consumer_no, 
      user_id, user_no, content, 
      follow_time, next_follow_time, created_time, 
      updated_time, user_name)
    values (#{id,jdbcType=BIGINT}, #{consumerId,jdbcType=BIGINT}, #{consumerNo,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{userNo,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{followTime,jdbcType=VARCHAR}, #{nextFollowTime,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.alipapa.smp.consumer.pojo.ConsumerFollowRecord">
        insert into consumer_follow_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="consumerId != null">
                consumer_id,
            </if>
            <if test="consumerNo != null">
                consumer_no,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userNo != null">
                user_no,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="followTime != null">
                follow_time,
            </if>
            <if test="nextFollowTime != null">
                next_follow_time,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="userName != null">
                user_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="consumerId != null">
                #{consumerId,jdbcType=BIGINT},
            </if>
            <if test="consumerNo != null">
                #{consumerNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userNo != null">
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="followTime != null">
                #{followTime,jdbcType=VARCHAR},
            </if>
            <if test="nextFollowTime != null">
                #{nextFollowTime,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.alipapa.smp.consumer.pojo.ConsumerFollowRecordExample"
            resultType="java.lang.Long">
        select count(*) from consumer_follow_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update consumer_follow_record
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.consumerId != null">
                consumer_id = #{record.consumerId,jdbcType=BIGINT},
            </if>
            <if test="record.consumerNo != null">
                consumer_no = #{record.consumerNo,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=BIGINT},
            </if>
            <if test="record.userNo != null">
                user_no = #{record.userNo,jdbcType=VARCHAR},
            </if>
            <if test="record.content != null">
                content = #{record.content,jdbcType=VARCHAR},
            </if>
            <if test="record.followTime != null">
                follow_time = #{record.followTime,jdbcType=VARCHAR},
            </if>
            <if test="record.nextFollowTime != null">
                next_follow_time = #{record.nextFollowTime,jdbcType=VARCHAR},
            </if>
            <if test="record.createdTime != null">
                created_time = #{record.createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updatedTime != null">
                updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.userName != null">
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update consumer_follow_record
        set id = #{record.id,jdbcType=BIGINT},
        consumer_id = #{record.consumerId,jdbcType=BIGINT},
        consumer_no = #{record.consumerNo,jdbcType=VARCHAR},
        user_id = #{record.userId,jdbcType=BIGINT},
        user_no = #{record.userNo,jdbcType=VARCHAR},
        content = #{record.content,jdbcType=VARCHAR},
        follow_time = #{record.followTime,jdbcType=VARCHAR},
        next_follow_time = #{record.nextFollowTime,jdbcType=VARCHAR},
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
        user_name = #{record.userName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.alipapa.smp.consumer.pojo.ConsumerFollowRecord">
        update consumer_follow_record
        <set>
            <if test="consumerId != null">
                consumer_id = #{consumerId,jdbcType=BIGINT},
            </if>
            <if test="consumerNo != null">
                consumer_no = #{consumerNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userNo != null">
                user_no = #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="followTime != null">
                follow_time = #{followTime,jdbcType=VARCHAR},
            </if>
            <if test="nextFollowTime != null">
                next_follow_time = #{nextFollowTime,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alipapa.smp.consumer.pojo.ConsumerFollowRecord">
    update consumer_follow_record
    set consumer_id = #{consumerId,jdbcType=BIGINT},
      consumer_no = #{consumerNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      user_no = #{userNo,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      follow_time = #{followTime,jdbcType=VARCHAR},
      next_follow_time = #{nextFollowTime,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="listGroupConsumerFollowRecord" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select fr.*
        from consumer_follow_record fr LEFT JOIN `user` u on fr.user_id=u.id
        where 1=1
        <if test="groupId != null">
            and u.group_id = #{groupId}
        </if>
        <if test="consumerId != null">
            and fr.consumer_id = #{consumerId}
        </if>
        ORDER BY fr.created_time DESC
    </select>


</mapper>