<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alipapa.smp.invoice.mapper.InvoiceOrderExtMapper">
  <resultMap id="BaseResultMap" type="com.alipapa.smp.invoice.pojo.InvoiceOrderExt">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="invoice_order_no" jdbcType="VARCHAR" property="invoiceOrderNo" />
    <result column="storage_user_no" jdbcType="VARCHAR" property="storageUserNo" />
    <result column="storage_user_name" jdbcType="VARCHAR" property="storageUserName" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="fin_apv_time" jdbcType="TIMESTAMP" property="finApvTime" />
    <result column="doc_time" jdbcType="TIMESTAMP" property="docTime" />
    <result column="check_out_time" jdbcType="TIMESTAMP" property="checkOutTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_no, invoice_order_no, storage_user_no, storage_user_name, submit_time, 
    fin_apv_time, doc_time, check_out_time, remark, created_time, updated_time
  </sql>
  <select id="selectByExample" parameterType="com.alipapa.smp.invoice.pojo.InvoiceOrderExtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from invoice_order_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invoice_order_ext
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from invoice_order_ext
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.alipapa.smp.invoice.pojo.InvoiceOrderExtExample">
    delete from invoice_order_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alipapa.smp.invoice.pojo.InvoiceOrderExt">
    insert into invoice_order_ext (id, order_no, invoice_order_no, 
      storage_user_no, storage_user_name, submit_time, 
      fin_apv_time, doc_time, check_out_time, 
      remark, created_time, updated_time
      )
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{invoiceOrderNo,jdbcType=VARCHAR}, 
      #{storageUserNo,jdbcType=VARCHAR}, #{storageUserName,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP}, 
      #{finApvTime,jdbcType=TIMESTAMP}, #{docTime,jdbcType=TIMESTAMP}, #{checkOutTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.alipapa.smp.invoice.pojo.InvoiceOrderExt">
    insert into invoice_order_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="invoiceOrderNo != null">
        invoice_order_no,
      </if>
      <if test="storageUserNo != null">
        storage_user_no,
      </if>
      <if test="storageUserName != null">
        storage_user_name,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="finApvTime != null">
        fin_apv_time,
      </if>
      <if test="docTime != null">
        doc_time,
      </if>
      <if test="checkOutTime != null">
        check_out_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="invoiceOrderNo != null">
        #{invoiceOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="storageUserNo != null">
        #{storageUserNo,jdbcType=VARCHAR},
      </if>
      <if test="storageUserName != null">
        #{storageUserName,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finApvTime != null">
        #{finApvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docTime != null">
        #{docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkOutTime != null">
        #{checkOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alipapa.smp.invoice.pojo.InvoiceOrderExtExample" resultType="java.lang.Long">
    select count(*) from invoice_order_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update invoice_order_ext
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceOrderNo != null">
        invoice_order_no = #{record.invoiceOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.storageUserNo != null">
        storage_user_no = #{record.storageUserNo,jdbcType=VARCHAR},
      </if>
      <if test="record.storageUserName != null">
        storage_user_name = #{record.storageUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.submitTime != null">
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finApvTime != null">
        fin_apv_time = #{record.finApvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.docTime != null">
        doc_time = #{record.docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkOutTime != null">
        check_out_time = #{record.checkOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update invoice_order_ext
    set id = #{record.id,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      invoice_order_no = #{record.invoiceOrderNo,jdbcType=VARCHAR},
      storage_user_no = #{record.storageUserNo,jdbcType=VARCHAR},
      storage_user_name = #{record.storageUserName,jdbcType=VARCHAR},
      submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      fin_apv_time = #{record.finApvTime,jdbcType=TIMESTAMP},
      doc_time = #{record.docTime,jdbcType=TIMESTAMP},
      check_out_time = #{record.checkOutTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alipapa.smp.invoice.pojo.InvoiceOrderExt">
    update invoice_order_ext
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="invoiceOrderNo != null">
        invoice_order_no = #{invoiceOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="storageUserNo != null">
        storage_user_no = #{storageUserNo,jdbcType=VARCHAR},
      </if>
      <if test="storageUserName != null">
        storage_user_name = #{storageUserName,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finApvTime != null">
        fin_apv_time = #{finApvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docTime != null">
        doc_time = #{docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkOutTime != null">
        check_out_time = #{checkOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alipapa.smp.invoice.pojo.InvoiceOrderExt">
    update invoice_order_ext
    set order_no = #{orderNo,jdbcType=VARCHAR},
      invoice_order_no = #{invoiceOrderNo,jdbcType=VARCHAR},
      storage_user_no = #{storageUserNo,jdbcType=VARCHAR},
      storage_user_name = #{storageUserName,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      fin_apv_time = #{finApvTime,jdbcType=TIMESTAMP},
      doc_time = #{docTime,jdbcType=TIMESTAMP},
      check_out_time = #{checkOutTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>