<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alipapa.smp.user.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.alipapa.smp.user.pojo.UserRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_no" jdbcType="VARCHAR" property="userNo"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="group_no" jdbcType="VARCHAR" property="groupNo"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, token, user_id, user_no, role_id, role_name, group_id, group_no, expire_time, created_time,
    updated_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_role
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.alipapa.smp.user.pojo.UserRole">
    insert into user_role (id, token, user_id, 
      user_no, role_id, role_name, group_id,
      group_no, expire_time, created_time, 
      updated_time)
    values (#{id,jdbcType=BIGINT}, #{token,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{userNo,jdbcType=VARCHAR}, #{roleId,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{groupId,jdbcType=BIGINT},
      #{groupNo,jdbcType=VARCHAR}, #{expireTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.alipapa.smp.user.pojo.UserRole">
        insert into user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userNo != null">
                user_no,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="groupNo != null">
                group_no,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userNo != null">
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=BIGINT},
            </if>
            <if test="groupNo != null">
                #{groupNo,jdbcType=VARCHAR},
            </if>
            <if test="expireTime != null">
                #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.alipapa.smp.user.pojo.UserRole">
        update user_role
        <set>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userNo != null">
                user_no = #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=BIGINT},
            </if>
            <if test="groupNo != null">
                group_no = #{groupNo,jdbcType=VARCHAR},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.alipapa.smp.user.pojo.UserRole">
    update user_role
    set token = #{token,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      user_no = #{userNo,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT},
      role_name = #{roleName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=BIGINT},
      group_no = #{groupNo,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>