<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">库存管理系统</h3>
    </div>
    <div class="panel-body">
        <span th:text="${singlePerson.name}">WelCome you</span>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">产品库存列表</h3>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" role="form" onsubmit="searchStock()" id="searchStockForm"
              name="searchStockForm">
            <label for="searchstocktype">输入型号:</label>
            <input type="text" width="300px" id="searchstocktype"></input>

            <label for="searchshelfno">输入货架号:</label>
            <input type="text" width="300px" id="searchshelfno"></input>

            <button type="submit" class="btn btn-default">查询</button>
        </form>

        <table border="1" class="table">
            <tr>
                <th>Id</th>
                <th>型号</th>
                <th>颜色</th>
                <th>数量</th>
                <th>货架号</th>
                <th>备注</th>
                <th>更新时间</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            <tr th:each=" stockManage: ${stockList}">
                <td th:text="${stockManage.id}"></td>
                <td th:text="${stockManage.type}"></td>
                <td th:text="${stockManage.colour}"></td>
                <td th:text="${stockManage.qty}">yes</td>
                <td th:text="${stockManage.shelfno}"></td>
                <td th:text="${stockManage.remark}">t</td>
                <td th:text="${#dates.format(stockManage.updatedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(stockManage.createdTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <button class="btn" th:onclick="'editStock('+${stockManage.id}+');'">出库/入库</button>&nbsp;&nbsp;&nbsp;&nbsp;

                    <button class="btn" th:onclick="'deleteStock('+${stockManage.id}+');'">删除</button>
                </td>

            </tr>
        </table>
    </div>
    <button class="btn" th:onclick="'addStock();'" data-toggle="modal">新增产品</button>

</div>

<script th:src="@{jquery-1.10.2.min.js}" type="text/javascript"></script><!-- 2 -->
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script><!-- 2 -->

<script th:inline="javascript">

    function editStock(id) {
        $.ajax({
            type: "GET",
            url: "/json",
            data: {id: id},
            success: function (resp) {
                $('#editstocktype').val(resp.single.type);
                $('#editcolour').val(resp.single.colour);
                $('#editqty').val(resp.single.qty);
                $('#editshelfno').val(resp.single.shelfno);
                $('#editremark').val(resp.single.remark);
                $('#editid').val(id);

                $('#editModal').modal({
                    keyboard: true,
                    backdrop: false,
                    show: true
                });
            }
        })
    }

    function searchStock() {
        var type = $.trim($("#searchstocktype").val());
        var shelfnoVar = $.trim($("#searchshelfno").val());

        //ajax提交
        $.ajax({
            type: "GET",
            url: "/search.do",
            data: {type: type, shelfno: shelfnoVar},
            success: function (result) {
                window.open(result.url, '_self')
            }
        });
    }


    function addStock() {
        $('#myModal').modal({
            keyboard: true,
            backdrop: false,
            show: true
        });
    }


    function deleteStock(url) {
        $('#url').val('/delete.do?id=' + url);//给会话中的隐藏属性URL赋值
        $('#delcfmModel').modal();
    }
    function urlSubmit() {
        var url = $.trim($("#url").val());//获取会话中的隐藏属性URL
        $.ajax({
            type: "POST",
            url: url,
            success: function (msg) {
                window.location.href = window.location.href;
                window.location.reload;
            }
        });
    }


    function updateStockSubmit() {
        var type = $.trim($("#editstocktype").val());
        var colour = $.trim($("#editcolour").val());
        var qty = $.trim($("#editqty").val());
        var shelfno = $.trim($("#editshelfno").val());
        var remark = $.trim($("#editremark").val());
        var id = $.trim($("#editid").val());

        //ajax提交
        $.ajax({
            type: "POST",
            url: "/update.do",
            data: {id: id, type: type, colour: colour, qty: qty, shelfno: shelfno, remark: remark},
            success: function (msg) {
                window.location.href = window.location.href;
                window.location.reload;
            }
        });
    }


    function addStockSubmit() {
        var type = $.trim($("#stocktype").val());
        var colour = $.trim($("#colour").val());
        var qty = $.trim($("#qty").val());
        var shelfno = $.trim($("#stockShelfno").val());
        var remark = $.trim($("#remark").val());

        //ajax提交
        $.ajax({
            type: "POST",
            url: "/create.do",
            data: {type: type, colour: colour, qty: qty, shelfno: shelfno, remark: remark},
            success: function (result) {
                window.open(result.url, '_self')

                /*                window.location.href = window.location.href;
                 window.location.reload;*/
            }
        });
    }
</script>

<div th:fragment="copyright">
    © 2017 by maibahe
</div>

<!-- 信息删除确认 -->
<div class="modal fade" id="delcfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body">
                <p>您确认要删除吗？</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="url"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a onclick="urlSubmit()" class="btn btn-success" data-dismiss="modal">确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新增库存产品</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="addStockSubmit(this)" id="addStockForm"
                      name="addStockForm">
                    <div class="form-group">
                        <label for="stocktype" class="col-sm-2 control-label">型号*</label>
                        <div class="col-sm-10">
                            <input type="text" required="required" class="form-control" id="stocktype"
                                   placeholder="请输入型号"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="colour" class="col-sm-2 control-label">颜色*</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="colour" placeholder="请输入颜色"></input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="qty" class="col-sm-2 control-label">数量*</label>
                        <div class="col-sm-10">
                            <input type="number" required="required" class="form-control" id="qty"
                                   placeholder="请输入数量"> </input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="stockShelfno" class="col-sm-2 control-label">货架号*</label>
                        <div class="col-sm-10">
                            <input type="text" required="required" class="form-control" id="stockShelfno"
                                   placeholder="请输入货架号"></input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="remark"></input>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">保存</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editModalLabel">入库/出库</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="updateStockSubmit(this)" id="editStockForm"
                      name="editStockForm">
                    <input type="hidden" id="editid"></input>

                    <div class="form-group">
                        <label for="editstocktype" class="col-sm-2 control-label">型号</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" class="form-control" id="editstocktype"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editcolour" class="col-sm-2 control-label">颜色</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" class="form-control" id="editcolour"></input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editqty" class="col-sm-2 control-label">数量</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="editqty"> </input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editshelfno" class="col-sm-2 control-label">货架号</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" class="form-control" id="editshelfno"></input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editremark" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="editremark"></input>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">保存</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>